.paper {
  /* max-width: 33.3%; */
  max-width: 360px;
}

.card {
  padding: 0.25rem;
}

.button {
  padding: 8px 18px !important;
  color: black !important;
  background-color: #55efc4 !important;
  width: 100%;
  text-transform: none !important;
  box-shadow: none !important;
}

.salary {
  font-size: 14px !important;
  font-weight: 400;
  padding-bottom: 4px !important;
  color: rgb(77, 89, 106) !important;
}

.jobDescription {
  display: flex !important;
  flex-direction: column !important;
  height: 250px !important;
  mask-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
}

.viewMore {
  position: relative;
  text-align: center;
  top: -20px;
}
